<%- include('partials/headerAdmin') -%>
  <main class="container mx-auto">

    <h2 class="text-center text-3xl text-slate-600 mt-10 font-bold">Unassigned tasks</h2>

    <div class="flex flex-row flex-wrap  mt-5 w-auto ">
      <% for(task of tasks) {%>
        <div
          class="w-64 max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-900 dark:border-gray-500 hover:bg-gray-800 ">
          <p
            class="m-2 rounded-full border border-white py-1 px-3 text-sm font-semibold dark:text-white w-fit text-center mx-auto mb-3">
            Title: <%=task.title%>
          </p>

          <p class="m-2 rounded-full  py-1 px-3 text-sm font-semibold dark:text-white w-fit mx-auto mb-3">
            Description: <%=task.description%>
          </p>
          <p class="m-2 rounded-full  py-1 px-3 text-sm font-semibold dark:text-white w-fit mx-auto mb-3">
            Location: <%=task.location%>
          </p>
          <p class="m-2 rounded-full  py-1 px-3 text-sm font-semibold dark:text-white w-fit mx-auto mb-3">
            Importance: <%=task.importance%>
          </p>
          <p class="m-2 rounded-full  py-1 px-3 text-sm font-semibold dark:text-white w-fit mx-auto mb-3">
            Created: <%=task.createdDate.toLocaleDateString()%> -
              <%=task.createdDate.toLocaleTimeString()%>
          </p>
          <p class=" dark:text-white m-2 rounded-full  
            <% if(task.category === 'cleaning') { %> dark:text-blue-400 
            <% } else if(task.category === 'electrician') { %>  dark:text-yellow-400
            <% } else if(task.category === 'handyman') { %> dark:text-green-400
            <% } else if(task.category === 'plumber') { %> dark:text-orange-400
            <% } %> 
            py-1 px-3 text-sm font-semibold w-fit text-center mx-auto">
            Category: <%=task.category%>
          </p>
          <div class="text-center mb-2">
            <form action="/admin/assignJob/<%=task._id%>?_method=PUT" method="POST">
              <select class="bg-gray-700 text-white" name="assign">
                <option class="" value="default">Select staff</option>
                <% for(member of staff) {%>
                  <option value="<%=member._id%>" class="
                    <% if(member.category === 'cleaning') { %> dark:text-blue-400 
                    <% } else if(member.category === 'electrician') { %>  dark:text-yellow-400
                    <% } else if(member.category === 'handyman') { %> dark:text-green-400
                    <% } else if(member.category === 'plumber') { %> dark:text-orange-400
                    <% } %> ">
                    <%=member.userName%> - <%=member.category%>
                  </option>
                  <% } %>
              </select>

              <!-- Assign button (POST override)-->

              <button type="submit" class="text-green-400 text-2xl ml-3 hover:text-green-900" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Assign staff to this job"><i
                  class="fa-regular fa-square-check"></i></button>
            </form>
            <form action="/admin/deleteTask/<%=task._id %>?_method=DELETE" method="POST">
              <button
                class="text-white  hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-1.5 text-center dark:bg-red-500 dark:hover:bg-red-700 dark:focus:ring-red-800"
                data-bs-toggle="tooltip" data-bs-placement="left" title="Delete task"><i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </div>
        </div>
        <% } %>
    </div>
  </main>

  <%- include('partials/footer') -%>