<%- include('partials/headerAdmin') -%>
  <div class="container mx-auto mx-auto">
    <h2 class="text-center text-3xl text-slate-600 mt-10 font-bold">Staff panel</h2>
    <div class="md:flex md:flex-row justify-items-center mt-5 mx-auto">
      <div class="">
        <h2 class="text-center text-xl text-green-800  font-bold">Actives</h2>
        <div class="flex flex-row flex-wrap  mt-5 w-auto gap-2">

          <% for(member of activeStaff) {%>
            <div
              class="w-64 max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-900 dark:border-gray-500 hover:bg-gray-800 ">
              <p
                class="m-2 rounded-full border border-white py-1 px-3 text-sm font-semibold dark:text-white w-fit text-center mx-auto mb-3">
                Name: <%=member.userName%>
              </p>

              <p
                class="m-2 rounded-full  py-1 px-3 text-sm font-semibold dark:text-white w-fit text-center mx-auto mb-3">
                E-mail: <%=member.email%>
              </p>
              <p class=" dark:text-white m-2 rounded-full  
                <% if(member.category === 'cleaning') { %> dark:text-blue-400 
                <% } else if(member.category === 'electrician') { %>  dark:text-yellow-400
                <% } else if(member.category === 'handyman') { %> dark:text-green-400
                <% } else if(member.category === 'plumber') { %> dark:text-orange-400
                <% } %> 
                py-1 px-3 text-sm font-semibold w-fit text-center mx-auto">
                Category: <%=member.category%>
              </p>

              <!-- Inactive & delete buttons -->
              <div class="flex flex-row justify-center gap-5 mb-2">
                <form action="/admin/staff/setInactive/<%=member._id %>?_method=PUT" method="POST">
                  <button
                    class="text-white  hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-1.5 text-center dark:bg-gray-400 dark:hover:bg-gray-600 dark:focus:ring-gray-800"
                    data-bs-toggle="tooltip" data-bs-placement="left" title="Set inactive"><i
                      class="fa-solid fa-ban"></i>
                  </button>
                </form>
                <form action="/admin/staff/deleteStaff/<%=member._id %>?_method=DELETE" method="POST">
                  <button
                    class="text-white  hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-1.5 text-center dark:bg-red-500 dark:hover:bg-red-700 dark:focus:ring-red-800"
                    data-bs-toggle="tooltip" data-bs-placement="left" title="Delete staff" hidden><i
                      class="fa-solid fa-trash"></i>
                  </button>
                </form>
              </div>
            </div>
            <% } %>
        </div>

        <h2 class="text-center text-xl text-red-900 mt-10 font-bold">Inactives</h2>
        <div class="flex flex-row flex-wrap  my-5 w-auto gap-2">

          <% for(member of inactiveStaff) {%>
            <div
              class="w-64 max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-900 dark:border-gray-500 hover:bg-gray-800 ">
              <p
                class="m-2 rounded-full border border-white py-1 px-3 text-sm font-semibold dark:text-white w-fit text-center mx-auto mb-3">
                Name: <%=member.userName%>
              </p>

              <p
                class="m-2 rounded-full  py-1 px-3 text-sm font-semibold dark:text-white w-fit text-center mx-auto mb-3">
                E-mail: <%=member.email%>
              </p>
              <p class=" dark:text-white m-2 rounded-full  
                <% if(member.category === 'cleaning') { %> dark:text-blue-400 
                <% } else if(member.category === 'electrician') { %>  dark:text-yellow-400
                <% } else if(member.category === 'handyman') { %> dark:text-green-400
                <% } else if(member.category === 'plumber') { %> dark:text-orange-400
                <% } %> 
                py-1 px-3 text-sm font-semibold w-fit text-center mx-auto">
                Category: <%=member.category%>
              </p>


              <!-- Active & delete buttons -->
              <div class="flex flex-row justify-center gap-5 mb-2">
                <form action="/admin/staff/setActive/<%=member._id %>?_method=PUT" method="POST">
                  <button
                    class="text-white  hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-1.5 text-center dark:bg-green-400 dark:hover:bg-green-600 dark:focus:ring-green-800"
                    data-bs-toggle="tooltip" data-bs-placement="left" title="Set active"><i
                      class="fa-solid fa-check"></i>
                  </button>
                </form>
                <form action="/admin/staff/deleteStaff/<%=member._id %>?_method=DELETE" method="POST">
                  <button
                    class="text-white  hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-1.5 text-center dark:bg-red-500 dark:hover:bg-red-700 dark:focus:ring-red-800"
                    data-bs-toggle="tooltip" data-bs-placement="left" title="Delete staff" hidden><i
                      class="fa-solid fa-trash"></i>
                  </button>
                </form>
              </div>
            </div>
            <% } %>
        </div>
      </div>

      <div
        class="w-full h-fit max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-900 dark:border-gray-500 mx-auto">
        <div class="flex flex-col items-center pb-10 text-white mt-5">

          <form action="/admin/createStaff" method="POST">
            <div class="mb-6 ">
              <h2 class="mb-4">Create new staff member</h2>
              <label for="userName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Staff
                name</label>
              <input type="text" id="userName"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Staff name here" required name="userName">
            </div>
            <div class="mb-6">
              <label for="exampleInputEmail1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Staff
                email</label>
              <input type="email" id="exampleInputEmail1"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="name@email.com" required name="email">
            </div>
            <div class="mb-6">
              <label for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
              <input type="password" id="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required name="password">
            </div>
            <div class="mb-6">
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm
                password</label>
              <input type="password" id="confirmPassword"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required name="confirmPassword">
            </div>
            <div class="mb-6">
              <select name="category" id="category-select" class="bg-gray-700">
                <option value="">Please choose a category</option>
                <option value="cleaning" class="dark:text-blue-400">Cleaning</option>
                <option value="electrician" class="dark:text-yellow-400">Electrician</option>
                <option value="handyman" class="dark:text-green-400">Handyman</option>
                <option value="plumber" class="dark:text-orange-400">Plumber</option>
              </select>
            </div>
            <button type="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>


          </form>

        </div>
      </div>



    </div>

    <%- include('partials/footer') -%>